<a href="https://colab.research.google.com/github/BodorGergoTas/WebApiProjects/blob/master/3_beadando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importálás
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
#Adatbeolvasás
data = pd.read_csv('heart_attack_prediction_dataset.csv')
data.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [5]:
#Hány országból vannak páciensek?
print(f"{len(data['Country'].unique())} országból vannak páciensek")

20 országból vannak páciensek

In [6]:
#Egy országra átlagban, mediánban hány páciens jut és mi ennek a szórása?
table = data.groupby('Country')['Patient ID'].count()
table

Country
Argentina         471
Australia         449
Brazil            462
Canada            440
China             436
Colombia          429
France            446
Germany           477
India             412
Italy             431
Japan             433
New Zealand       435
Nigeria           448
South Africa      425
South Korea       409
Spain             430
Thailand          428
United Kingdom    457
United States     420
Vietnam           425
Name: Patient ID, dtype: int64

In [10]:
avg = np.mean(table)
med = np.median(table)
szor = np.std(table)
print(f"Átlag: {avg}")
print(f"Medián: {med}")
print(f"Szórás: {np.round(szor, 2)}")

Átlag: 438.15
Medián: 434.0
Szórás: 17.81

In [14]:
#Ha a különböző országokra megnézzük, hogy a páciensek hány százaléka veszélyeztetett (utolsó oszlop), akkor ez a százalék átlagban, mediánban, szórásban hogyan néz ki a különböző országok fölött?
table2 = data.groupby('Country')['Heart Attack Risk'].sum()/data.groupby('Country')['Heart Attack Risk'].count()
table2

Country
Argentina         0.369427
Australia         0.374165
Brazil            0.352814
Canada            0.359091
China             0.355505
Colombia          0.377622
France            0.352018
Germany           0.360587
India             0.313107
Italy             0.315545
Japan             0.332564
New Zealand       0.347126
Nigeria           0.397321
South Africa      0.338824
South Korea       0.398533
Spain             0.348837
Thailand          0.376168
United Kingdom    0.350109
United States     0.395238
Vietnam           0.348235
Name: Heart Attack Risk, dtype: float64